In [2]:
import pandas as pd   
import numpy as np    
import matplotlib.pyplot as plt 
%matplotlib inline
%config InlineBackend.figure_formats = ['retina']
import seaborn as sns
import time
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, log_loss
from sklearn.metrics import auc, roc_curve, roc_auc_score, precision_recall_curve
from sklearn.metrics import fbeta_score, cohen_kappa_score
SEED = 42

In [7]:
df=pd.read_excel('D:\MAJOR PROJECT\sample.xlsx')  
df

,BQ,ESS,BMI,Weight,Height,Head,Neck,Waist,Buttock,Age,M,status
0,0,14,29.06593,88,174,57.5,39,96,106,20,1,0
1,0,8,26.98962,78,170,57.0,36,90,100,20,1,0
2,0,16,23.93948,75,177,59.0,39,88,104,20,1,0
3,0,15,22.12974,67,174,57.0,35,74,94,20,1,0
4,0,15,22.12974,67,174,57.0,35,74,94,20,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11531,0,16,29.48650,99,183,57.1,42,111,109,56,1,3
11532,0,11,25.07382,66,162,55.1,36,91,96,61,1,3
11533,0,6,28.66613,96,183,58.0,39,99,108,36,1,3
11534,0,15,28.73175,85,172,60.2,40,103,105,63,1,3
11535,0,1,45.26355,140,176,61.0,46,146,132,43,1,3

In [8]:
column = df["BQ"]

In [9]:
max_value = column. max()
print(max_value)

1

In [10]:
min_value = column. min()
print(min_value)

0

In [11]:
column = df["ESS"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

48
0

In [12]:
column = df["BMI"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

59.63731
14.7655

In [13]:
column = df["Weight"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

161
37

In [14]:
column = df["Height"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

198
140

In [15]:
column = df["Head"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

66.0
47.0

In [16]:
column = df["Neck"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

57
26

In [17]:
column = df["Waist"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

156
56

In [18]:
column = df["Buttock"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

150
70

In [19]:
column = df["Age"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

80
20

In [20]:
column = df["M"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

1
0

In [22]:
column = df["status"]
max_value = column. max()
print(max_value)
min_value = column. min()
print(min_value)

3
0